$break-landscape: 'landscape';
$break-mid: 840px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  color: #333;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}