$break-mid: 840px;

.contact-cnt {
  flex-direction: column;
  height: 90vh;

  h2 {
    margin: 20px auto 40px auto;

    @media screen and (min-width: $break-mid) {
      font-size: 2em;
      margin-bottom: 60px;
    }
  }

  p {
    margin: 10px auto;

    span {
      font-weight: 400;
    }
  }

  p:last-child {
    margin-bottom: 50px;

    @media screen and (min-width: $break-mid) {
      margin-bottom: 20vh;
    }
  }

  @media screen and (min-width: $break-mid) {
    height: 80vh;
  }
}