$break-mid: 840px;

.nav-bar {
  width: 100%;
  justify-content: flex-start !important;
 
  .header-logo {
    margin: 10px 0px 0px 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    h2 {
      cursor: default;
    }

    .header-icon {
      margin-right: 15px;
      font-size: 4rem;
      animation: rotate 15s linear infinite;

      @keyframes rotate {
        from {transform: rotate(0deg)}
        to {transform: rotate(360deg);}
      }
    }
  }

  .menu{
    position: absolute;
    top: 20px;
    right: 5%;
    z-index: 9999;

    @media screen and (min-width: $break-mid) {
      top: 30px;
      width: 60%;
      margin: auto 10% auto auto;
    }
  } 

  @media screen and (min-width: $break-mid) {
    height: 10vh;
    margin-top: 20px;
  }
}

