$break-mid: 840px;
$break-landscape: 'landscape';

.home-cnt {

  .tile-cnt {
    width: 90%;
    text-align: justify;
    margin: 10px auto;

    .tile-content {
      height: 100%;
      margin: 10px auto;
      background-color: rgb(15, 15, 15);

      @media only screen and (orientation: $break-landscape) {
        height: 300px;
      }

      @media only screen and (orientation: $break-landscape) and (min-width: $break-mid) {
        height: 400px;
      }
    }

    @media screen and (min-width: $break-mid) {
      width: 50%;
      height: 500px;
    }
  }
}

