$break-mid: 840px;

.home-cnt {

  .tile-cnt {
    width: 90%;
    text-align: justify;
    margin: 10px auto;

    .tile-content {
      height: 80%;
      margin: 10px auto;
    }

    @media screen and (min-width: $break-mid) {
      width: 50%;
      height: 500px;
    }
  }
}

