.home-cnt {

  .tile-cnt {
    width: 90%;
    text-align: justify;
    margin: 10px auto;

    .tile-content {
      height: 250px;
      background-color: black;
      margin: 10px auto;
    }

    .tile-cnt p {

    }
  }
}

